.side-bar {
  float: left;
  position: relative;
  width: 10%;
  height: 100%;
  z-index: 5;
  background-color: darkgray;
}

.bar-content {
  width: calc(100% - 3px);
  overflow-x: scroll;
  height: 100%;
}

.draggable {
  background-color: grey;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  cursor: col-resize;
}

.intro {
  font-size: 20px;
  line-height: 1.5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.list-group {
  white-space: nowrap !important;
}

.show-details {
  float: right;
  display: none;
}

.list-group-item:hover .show-details {
  display: inline-block;
}

input[type="button"]:focus {
  outline: none;
}