*, *::before, *::after {
  box-sizing: border-box;
}

.side-bar {
  float: left;
  position: relative;
  width: 10%;
  height: 100%;
  z-index: 5;
  background-color: darkgray;
}

.bar-content {
  width: calc(100% - 10px);
}

.draggable {
  background-color: grey;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
}

.intro {
  font-size: 20px;
  line-height: 1.5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
