#selection-popup {
  position: absolute;
  display: block;
  z-index: 1000;
}

.CodeMirror {
  height: 100%;
  /*min-height: inherit;*/
}

.comment {
    display: none;
}

.show-block {
    display: block !important;
}

.hide {
    display: none;
}

#add-comment-form {
    display: none;
}